body {
  background-color: antiquewhite;
  justify-content: center;
}

.navbar {
  flex: 1;
  display: flex;
}

.nav-item {
  flex: 1;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lists {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.cityList {
  flex: 1;
  border: 1px solid black;
  text-align: center;
}

.cityNames {
  text-align: center;
}

.landmarksList {
  flex: 1;
  border: 1px solid black;
  text-align: center;
}

.famousCitizensList {
  flex: 1;
  border: 1px solid black;
  text-align: center;
}

.copyright {
  text-align: center;
  padding: 100px;
}
